<% include includes/header %>
    <div class="content container">
        <div class="posts">
            <% articles.forEach(function(ar){ %>
            <div class="post">
                <h1><a href="<%= ar.link %>"><%= ar.title %></a></h1>
                <span class="post-date"><%= ar.postedOn %></span>
                <p><%= ar.excerpt %></p>
            </div>
            <% }); %>
        </div>
        <div class="pagination">
            <% for(var i = 1; i <= pageNum; i++){ %>
                <% 
                var str = (i === 1 ? '/index.html' : '/index_' + i + '.html'); 
                %>
                <% if(pageCur == i){ %>
                <span><%- i %></span>
                <% }else{ %>
                <a href="<%- str %>"><%- i %></a>
                <% } %>
            <% } %>
        </div>
    </div>
<% include includes/footer %>