<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="<%= blog.description %>">
    <meta name="keywords" content="<%= blog.keywords %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title><%= blog.title %></title>
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="masthead">
        <div class="masthead-inner">
            <h1><a href="/">小杜</a></h1>
            <p class="lead">学习·记录</p>
            <div class="colophon">
                <ul class="colophon-links">
                    <% pages.forEach(function(pa){ %>
                    <li><a href="<%= pa.link %>"><%= pa.title %></a></li>
                    <% }); %>
                </ul>
                <p class="poweredby">Proudly powered by <a href="https://github.com/littledu/dublog" target="_blank">dublog</a>&nbsp;<a href="./rss/rss.xml" target="_blank"></a></p>
                <p class="poweredby">Themes modified from <a href="https://github.com/mdo/hyde" target="_blank">hyde</a></p>
            </div>
        </div>
    </header>